
SetEnv wsgi_max_requests 10
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

<Files *>
  Options -Indexes
  AuthType WebAuth
  require user rerickso abirney ahamby ajblock bdurieux cmorshea cadeluca econnol2 ebokelbe jurbani kmaughan zrossi 
  satisfy any
  order allow,deny
</Files>
