@import "variables";

/* Meal Plan Page */
.mealSection{
  background-color: rgba(112, 112, 112, 0.18);
  margin: 2px;
  padding: 20px;
  height: 500px;
}

.fig-float-right{
  float: right;
  overflow: hidden;
}

.mealSection figure img{
  width: 400px;
  height: 400px;
}

.mealSection a{
  text-decoration: none;
  color: black;
}

.getRecipeBtn{
  width: 200px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.67);
}